
<!--

<footer class="footer-distributed ">

			<div class="footer-left">			
				<%= image_tag "Logo-small.png" %>

				<p class="footer-links">
					<a href="#" class="link-1">Home</a>
									
					<a href="#">About</a>
					
					<a href="#">Faq</a>
					
					<a href="#">API</a>

					<a href="#">Contact</a>

					<a href="#">Privacy Policy</a>
				</p>

				<p class="footer-company-name">BlockMemo © 2021</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Le Wagon Brussels,Cantersteen Street 10,</span> 1000 Brussels</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+32.555.555.555</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@company.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					All rights reserved.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
					
					

				</div>

			</div>

		</footer>
-->

<footer>
    <div class="wrapper">
    <div class="footer-left">			
				<%= image_tag "Logo-small.png" %>
        </div>

        <div id="footer-info">
            <p>Copyright 2021 BlockMemo. All rights reserved.</p>
            <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
        </div>
        <div id="footer-links">
            <ul>
                <li><h5>Company</h5></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Meet The Team</a></li>
            </ul>
            <ul>
                <li><h5>Company</h5></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Meet The Team</a></li>
                <li><a href="#">What We Do</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
            <ul>
                <li><h5>Company</h5></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Meet The Team</a></li>
                <li><a href="#">What We Do</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>			

				</div>

        
        <div class="clear"></div>
    </div>
</footer>