<div>


  <p>
  
    Blockmemo is the idea that has ermerged in the mind of Sinouhé Ferreira Monteiro Nunes while student at Le Wagon Brussels.
    His idea was basically to deliver the general public an accessible, simple and fact-based tool to understand the emergin blockchain world.
    Everybody is talking about it but how many people do actually know how it works and what's behind the scene ? 

    Well Blockmemo is here to help you enter the blockchain world smoothly without making risky decisions about you money. 

     

    
  </p>


  <ul>
    <li>
        Ramiro Penedo 

    </li>

    <li>
        Arthur Umugisha
    </li>

    <li>
        Alan Arens 
    </li>

    <li>
        Sinouhé Ferreira Monteiro Nunes
    </li>
  </ul>

</div>