<div>


  <p>
  
    Blockmemo is the idea that has ermerged in the mind of Sinouhé Ferreira Monteiro Nunes while student at Le Wagon Brussels.
    His idea was basically to deliver the general public an accessible, simple and fact-based tool to understand the emerging blockchain world.
    Everybody's talking about it but how many people do actually know how it works and what's behind the scene ? 

    Well Blockmemo is here to help you enter the blockchain world smoothly without making risky decisions about you money. 

     

    
  </p>


  <ul>
    <li>
        <strong> Ramiro Penedo  </strong>
        <p>
        Ramiro currently works in a financial startup (called Edebex) and had almost no previous experience on coding before Le Wagon.
         He always felt some curiosity about coding and how everything works behind the scenes. After Le Wagon he's planning to improve in code and, who knows,perhaps he gonna change his entire career.
        </p>

    </li>

    <li>
        <strong>Arthur Umugisha</strong>
        <p>
        Arthur has a business background and strong interest into IT. He started working as a freelancer late 2019 , helping independents and small companies for the optimization and digitalization of their business processes.
        He quickly found himself working for his brother's freight forwarding company
        He coded many projects such as Bubble then joined Le Wagon to get a deeper understanding of app development.
    </li>

    <li>
        <strong>Alan Arens</strong> 
        <p>
        With a Bechelor's degree in Law, Alan is at the moment student in political Science at ULB. 
        He joined Le Wagon because he wanted to round off his skills in computer science.
        Far from behing a "pc guy" he got more and more passionate about Tech throughout the very last year especially in the fields of cybersecurity, I.A and quantum computing.
        
        
        </p>
    </li>

    <li>
        <strong> Sinouhé Ferreira Monteiro Nunes</strong>
        <p>
        Sino, as you can save some saliva, has lived mostly in the U.S (New York, SF, Miami) and in Latin America (Guatemala and Colombia).
        He's currently living in sunny Brussels!
        In the past few years he built companies and also worked at international organizations.He works but right now at Odoo, and his role is to onboard and train our partner network to implement Odoo properly in other companies.

        He decided to join Le wagon since he was working with so many developers and functional analysts throughout his career so he decided that it was time to be a lil' nasty and  get dirty in code.
        </p>
    </li>
  </ul>

</div>

