

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
</div>

<div>
  <h2 style="text-align:center">Our Team</h2>

  <div class="row">
      <div class="column">
        <div class="card">
          <%= image_tag "Ramiro.jpg" %>
          <div class="container_about">
            <h2>Ramiro Penedo</h2>
            <p class="title">Designer</p>
            <p>Ramiro currently works in a financial startup (called Edebex) and had almost no previous experience on coding before Le Wagon. He always felt some curiosity about coding and how everything works behind the scenes. After Le Wagon he's planning to improve in code and, who knows,perhaps he gonna change his entire career.</p>
            <p>Penedo@example.com</p>
            <div class="align-self-end">
            <a href="#" data-text="contact" class="button-hover">contact</a>
            </div>
          </div>
        </div>
    </div>


    <div class="column">
      <div class="card">
        <%= image_tag "Arthur.jpg" %>
        <div class="container_about">
          <h2>Arthur Umugisha</h2>
          <p class="title">Art Director and Developer</p>
          <p>Arthur has a business background and strong interest into IT. He started working as a freelancer late 2019 , helping independents and small companies for the optimization and digitalization of their business processes. He quickly found himself working for his brother's freight forwarding company He coded many projects such as Bubble then joined Le Wagon to get a deeper understanding of app development.</p>
          <p>Umugisha@example.com</p>
            <div>
              <a href="#" data-text="contact" class="button-hover ">contact</a>
            </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <%= image_tag "Alan.jpg" %>
        <div class="container_about">
          <h2>Alan Arens</h2>
          <p class="title">Designer</p>
          <p>With a Bechelor's degree in Law, Alan is at the moment student in political Science at ULB. He joined Le Wagon because he wanted to round off his skills in computer science. Far from behing a "pc guy" he got more and more passionate about Tech throughout the very last year especially in the fields of cybersecurity, I.A and quantum computing.</p>
          <p>Arens@example.com</p>
          <div>
            <a href="#" data-text="contact" class="button-hover ">contact</a>
            </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <%= image_tag "Sino.jpeg" %>
        <div class="container_about">
          <h2>Sinouhé Ferreira Monteiro Nunes</h2>
          <p class="title">CEO & Founder</p>
          <p>Sino, has lived mostly in the U.S (New York, SF, Miami) and in Latin America (Guatemala and Colombia). He's currently living in sunny Brussels! In the past few years he built companies and also worked at international organizations.He works but right now at Odoo, and his role is to onboard and train our partner network to implement Odoo properly in other companies. He decided to join Le wagon since he was working with so many developers and functional analysts throughout his career so he decided that it was time to be a lil' nasty and get dirty in code.</p>
          <p>Nunes@example.com</p>
          <div>
          <a href="#" data-text="contact" class="button-hover ">contact</a>
          </div>
          
        </div>
      </div>
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="row col-md">
      <a href="#" data-text="Homepage" class="button-hover ">Homepage</a>
    </div>  
    <div class="row col-md">
      <a href="#" data-text="Learn More" class="button-hover">Learn More</a>
    </div> 
    <div class="row col-md">
      <a href="#" data-text="Read Article" class="button-hover">Read Article</a>
    </div> 
    <div class="row col-md">
      <a href="#" data-text="Download" class="button-hover">Download</a>
    </div>    
  </div>
</div>
</div>


<footer class="footer-distributed"></footer>



