<div>

  <nav>
  #check courses under nav bar
  <div class="container text-center">
  <%= link_to "Check course", courses_path ,class: "btn btn-primary" %>
</div>
  </nav>

  <section>
    <h1>Welcome to Blockmemo</h1>
  </section>
</div>



<picture>

</picture>

 <dl>
  <dt>Bitcoin</dt>
  <dd>Black hot drink</dd>
  <dt>Milk</dt>
  <dd>White cold drink</dd>
</dl> 

<thead>
  <header>
  
  </header>
</thead>






