

   <div>
        <div class="text-center " style="background-image: url(<%= asset_path("home_background.jpg") %>); height: 100vh ; width: 100vw; crop: :cover;;">
        <div Style="background-color: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)); padding-top: 25vh">

            <h1 style="color: white; font-size: 96px">BlockMemo.</h1>
            <br>
            <h2 style="color: white; font-size: 64px"><strong>A place to discover and learn </strong><br/>
            about cryptocurrencies</h2>
            <%= link_to "Browse courses", courses_path, class: "button" %>
        
            </div>
        </div>
    </div>
   

