
<%= link_to "Dashboard", dashboard_path, class: "btn btn-primary" %>
<%= link_to "Courses list", courses_path, class: "btn btn-primary" %>
<div>
  <section>
    <h1>Welcome to Blockmemo</h1>
  
  </section>

</div>



<picture>

</picture>

 <dl>
  <dt>Bitcoin</dt>
  <dd>Black hot drink</dd>
  <dt>Milk</dt>
  <dd>White cold drink</dd>
</dl> 

<thead>
  <header>
  
  </header>
</thead>






