<div class="container text-center">
    <h1>Here is the list of all courses available</h1>
</div>


<div class= "flex-container">

<div class="flex-container container_main">
<h1>test</h1>
</div>

<div class="flex-container container_secundary">
<h1>test</h1>
</div>

