<div class="container text-center">
    <h1>Chapter page</h1>
</div>

<div class="container">
<p> <%= @chapter.content %>  </p>

</div>

<%= link_to 'Next', subscription_path(@subscription.id), method: :PATCH , class: "btn btn-danger" %>