.container_main {
  width: 85%;
  height: 200px;
  border: 8px solid rgb(162,139,73);
  color: rgb(239,239,241);
  text-align: center;
  justify-content: center;
  background-color: rgb(58,58,60);
  box-shadow: rgb(162,139,73);
  padding: 50px;
  margin: auto;
  border-radius: 10px;
  border-spacing: 15px;
}