.navbar-lewagon {
  justify-content: space-between;
  background: rgb(225,236,240);
  border-bottom: royalblue;
  border-bottom-style: solid;
  border-width: 0.5px;
  margin-bottom: 8px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
